@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --header-bg: linear-gradient(
    90deg,
    rgba(0, 153, 255, 1) 0%,
    rgba(0, 163, 255, 1) 100%
  );
  --icon-color: black;
  --loading-color: #039be5;
  --bg-color: white;
  --font-color: black;
}

[data-theme="dark"] {
  --font-color: #fff;
  --bg-color: #5a5a5f;
  --header-bg: linear-gradient(
    90deg,
    rgba(66, 0, 255, 1) 0%,
    rgba(189, 0, 255, 1) 100%
  );
  --icon-color: white;
  --loading-color: blueviolet;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../svg/image.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans";
}

header {
  background: var(--header-bg);
  color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
}

header img {
  width: 50px;
}

header p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .warning {
  margin-top: 20px;
  background-color: #ec8585;
  color: white;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 800;
  border: 3px solid #f5cccc;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

main .loading__anim {
  padding: 14px;
  margin-top: 10px;
  display: none;
  height: 35px;
  width: 35px;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: var(--loading-color);
  border-top-color: var(--loading-color);
  border-radius: 50%;
  -webkit-animation: rotate 600ms infinite linear;
          animation: rotate 600ms infinite linear;
}

.search-fields {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-fields input {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 24px;
  border: 3px solid rgba(143, 140, 140, 0.5);
  border-right: none;
  text-align: center;
}

.search-fields button {
  outline: none;
  border: none;
  background: white;
  padding: 0 8px 8px 8px;
  color: rgba(143, 140, 140, 0.5);
  border: 3px solid rgba(143, 140, 140, 0.5);
  border-left: none;
  cursor: pointer;
  font-size: 1.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-fields button:hover {
  color: white;
  background: rgba(143, 140, 140, 0.5);
}

.container {
  margin-top: 1rem;
  max-width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  display: none;
}

.container span {
  font-size: 1.3rem;
}

.container .location {
  text-transform: capitalize;
  color: #41d14d;
}

.container .feel {
  text-transform: capitalize;
  color: #d65f73;
}

.bar {
  margin: 50px;
  min-width: 250px;
  width: 350px;
  background: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--font-color);
}

.bar img {
  width: 120px;
  margin-right: 50px;
}

.datas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: 4rem;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: transparent;
  color: white;
}

footer a {
  color: white;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@media (max-width: 1308px) {
  header {
    height: 3rem;
  }
  header img {
    display: none;
  }
  header p {
    font-size: 1rem;
  }
  .bar {
    margin: 30px;
    padding: 10px;
  }
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 960px) {
  .bar {
    margin: 16px;
  }
  .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.dark-theme {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-theme p {
  margin: 0 10px;
}

.dark-theme p i {
  color: var(--icon-color);
}

.toggler {
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative;
}

.toggler input {
  display: none;
}

.toggler input:checked + .slider::before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.toggler input:checked + .slider {
  background-color: blueviolet;
}

.slider {
  bottom: 0;
  background-color: #0099ff;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 1.4px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  transition: all 0.3s;
}
