@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../svg/image.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}

header {
  background: var(--header-bg);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;

  img {
    width: 50px;
  }

  p {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;

  .warning {
    margin-top: 20px;
    background-color: #ec8585;
    color: white;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 800;
    border: 3px solid #f5cccc;
    border-radius: 5px;
    transition: all 0.5s;
    display: none;
  }

  .loading__anim {
    padding: 14px;
    margin-top: 10px;
    display: none;
    height: 35px;
    width: 35px;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-left-color: var(--loading-color);
    border-top-color: var(--loading-color);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
  }
}

.search-fields {
  margin-top: 40px;
  display: flex;

  input {
    outline: none;
    border: none;
    padding: 10px;
    font-size: 24px;
    border: 3px solid rgba(143, 140, 140, 0.5);
    border-right: none;
    text-align: center;
  }

  button {
    outline: none;
    border: none;
    background: white;
    padding: 0 8px 8px 8px;
    color: rgba(143, 140, 140, 0.5);
    border: 3px solid rgba(143, 140, 140, 0.5);
    border-left: none;
    cursor: pointer;
    font-size: 1.7rem;
    transition: all 0.3s;

    &:hover {
      color: white;
      background: rgba(143, 140, 140, 0.5);
    }
  }
}

.container {
  margin-top: 1rem;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  display: none;

  span {
    font-size: 1.3rem;
  }

  .location {
    text-transform: capitalize;
    color: rgb(65, 209, 77);
  }

  .feel {
    text-transform: capitalize;
    color: rgb(214, 95, 115);
  }
}

.bar {
  margin: 50px;
  min-width: 250px;
  width: 350px;
  background: var(--bg-color);
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  color: var(--font-color);

  img {
    width: 120px;
    margin-right: 50px;
  }
}

.datas {
  display: flex;
  align-items: center;
}

footer {
  height: 4rem;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: transparent;
  color: white;

  a {
    color: white;
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@import "responsive", "theme";
